/* Specific App styles */
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap";

$font-code: "Roboto Mono", "Courier New", Courier, monospace;

.field.extra.textarea {
    height: 13.5rem;
}

#text-input,
#result-textarea {
    font-family: $font-code;
}

#case-selector {
    font-family: $font-code;
}

#hero {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    h1 {
        text-align: left;
    }

    h6 {
        text-align: left;
    }
}

#paste-button,
#copy-button {
    z-index: 9999;
    background-color: var(--background);
    color: var(--primary);

    i {
        display: none;
    }
}

@media (max-width: 768px) {
    .medium-space {
        display: none;
    }

    .field.extra.textarea {
        height: 12rem;
    }

    #hero {
        height: 15rem;

        .absolute {
            padding: 0.5rem !important;

            h1 {
                font-size: 2.5rem;
                word-break: break-word;
                margin: 0.5rem !important;
            }

            h6 {
                font-size: 1rem;
                word-break: break-word;
                margin: 0.5rem !important;
            }
        }
    }
}