/* Specific App styles */
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap";

$font-code: "Roboto Mono", "Courier New", Courier, monospace;

.field.extra.textarea {
    height: 13.5rem;
}

#text-input,
#result-textarea {
    font-family: $font-code;
}

#case-selector {
    font-family: $font-code;
}

#paste-button,
#copy-button {
    z-index: 9999;
    background-color: var(--background);
    color: var(--primary);

    i {
        display: none;
    }
}

@media (max-width: 768px) {

    .field.extra.textarea {
        height: 12rem;
    }
}